# Diplomatura en Ciencia de Datos, Aprendizaje Automático y sus Aplicaciones

## Aprendizaje Supervisado

### Competencia de Kaggle: _Predicción de diabetes_

Grupo 30:

- Camino, Fernando
- Herrador, Emanuel Nicolás
- Rapoport, Juana
- Stutz, Sebastián
- Szurlewicz, Juan Ignacio

---

## Índice (TODO)

## 1. Introducción (TODO)

## 2. Desarrollo previo

### 2.1. Importación de librerías

Las librerías que vamos a usar en el presente proyecto son las siguientes:

In [2]:
# Importamos las librerías
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import plotly.express as px
import plotly.figure_factory as ff
from plotly.subplots import make_subplots

# Seteamos la seed para reproducibilidad
np.random.seed(0)

### 2.2. Carga de datos

Realizamos la carga de los datos que vamos a utilizar en el proyecto para el entrenamiento y para nuestra predicción:

In [3]:
TRAIN_DATA = pd.read_csv('data/diabetes_prediction_dataset_train-labeled.csv')
TEST_DATA = pd.read_csv('data/diabetes_prediction_dataset_test.csv')

# Mostramos las primeras filas del dataset
display(TRAIN_DATA.head())
display(TEST_DATA.head())

,patient,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,20432,Male,4.0,0,0,never,19.28,3.5,155,0
1,49682,Female,50.0,0,0,former,27.32,5.7,159,0
2,73886,Female,43.0,0,0,never,21.54,4.5,145,0
3,53144,Male,64.0,0,0,current,28.22,6.0,130,0
4,98507,Male,10.0,0,0,No Info,15.46,6.1,140,0

,patient,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,49267,Male,53.0,0,0,never,31.99,4.5,126,NaN
1,82280,Female,22.0,0,0,never,25.96,6.6,130,NaN
2,33216,Female,37.0,0,0,never,22.24,6.2,126,NaN
3,94551,Female,29.0,0,0,not current,31.01,5.0,80,NaN
4,43760,Male,30.0,0,0,ever,28.66,6.6,100,NaN

## 3. Descripción de los datos

Esta competencia ha sido creada a partir de un dataset sobre una recopilación de datos médicos y demográficos de los pacientes, junto con su estado de diabetes (positivo o negativo).

Los datos incluyen características como la edad, el sexo, el índice de masa corporal (IMC), la hipertensión, las enfermedades cardíacas, el historial de tabaquismo, el nivel de HbA1c y el nivel de glucosa en sangre:

- `Gender`: Género se refiere al sexo biológico del individuo, que puede tener un impacto en su susceptibilidad a la diabetes. Hay tres categorías en él masculino, femenino y otro.
- `Age`: La edad es un factor importante ya que la diabetes se diagnostica con mayor frecuencia en adultos mayores. El rango de edad en el conjunto de datos es de 0 a 80.
- `Hypertension`: La hipertensión es una afección médica en la que la presión arterial en las arterias está persistentemente elevada. Tiene valores de 0 o 1 donde 0 indica que no tienen hipertensión y para 1 significa que tienen hipertensión.
- `Heart Disease`: La enfermedad cardíaca es otra afección médica que se asocia con un mayor riesgo de desarrollar diabetes. Tiene valores de 0 o 1 donde 0 indica que no tienen enfermedad cardíaca y para 1 significa que tienen enfermedad cardíaca.
- `Smoking History`: La historia de tabaquismo también se considera un factor de riesgo para la diabetes y puede exacerbar las complicaciones asociadas con la diabetes. En nuestro conjunto de datos tenemos 5 categorías es decir, not current, former, No Info, current, never y ever.
- `bmi`: BMI (Índice de Masa Corporal) es una medida de la grasa corporal basada en el peso y la altura. Los valores de BMI más altos están vinculados a un mayor riesgo de diabetes. El rango de BMI en el conjunto de datos es de 10.16 a 71.55. BMI menor de 18.5 es bajo peso, 18.5-24.9 es normal, 25-29.9 es sobrepeso y 30 o más es obeso.
- `HbA1c_level`: El nivel de HbA1c (Hemoglobina A1c) es una medida del nivel promedio de azúcar en la sangre de una persona en los últimos 2-3 meses. Niveles más altos indican un mayor riesgo de desarrollar diabetes. En su mayoría, más del 6.5% del nivel de HbA1c indica diabetes.
- `blood_glucose_level`: El nivel de glucosa en sangre se refiere a la cantidad de glucosa en el torrente sanguíneo en un momento dado. Los niveles altos de glucosa en sangre son un indicador clave de la diabetes.

## 4. Análisis exploratorio de los datos